body {
  overflow: scroll;
}

.conteudo_modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
  .conteudo_modal_linhaFechaModal {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;

    button {
      img {
        width: 40px;
      }
    }
  }
  .containerMapa {
    align-items: center;
    background-color: #2020201a;
    border-radius: 10px;
    display: flex;
    height: 180px;
    justify-content: center;
    width: 90%;
  }
}

.PagInicial {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow-y: hidden;
  width: 100%;
  .containerQuantidadeOrdenacao {
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-flex;
    height: 10%;
    justify-content: space-between;
    margin-top: 5%;
    padding: 1rem;
    width: 90%;

    .containerOrdenacao {
      align-items: center;
      display: flex;
      justify-content: space-between;
      .textoOrdenacao {
        font-size: 1.2em;
      }
      .selecionarOrdenacao {
        border: 1px solid black;
        border-radius: 10px;
        font-size: 1em;
        padding: 1em;
        /* width: 50%; */
      }
    }
  }
  .containerCards {
    border-radius: 5px;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-top: 2vh;
    /* overflow-y: scroll; */
    padding: 1%;
    width: 90%;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 0px) {
  .containerQuantidadeOrdenacao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textoImoveisDisponiveis {
      font-size: 1.2rem;
    }
    .textoOrdenacao {
      font-size: 1em;
    }
    .selecionarOrdenacao {
      padding: 0.3em;
    }
  }
}

@media (min-width: 768px) {
  .containerQuantidadeOrdenacao {
    display: flex;
    flex-direction: row;

    .textoImoveisDisponiveis {
      font-size: 1.3rem;
    }

    .textoOrdenacao {
      font-size: 1.2em;
    }

    .selecionarOrdenacao {
      padding: 0.7em;
    }
  }
}
