.PagInicial {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}
.containerQuantidadeOrdenacao {
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-flex;
  height: 10%;
  justify-content: space-between;
  margin-top: 5%;
  padding: 1rem;
  width: 90%;
}
.textoImoveisDisponiveis {
}

.containerOrdenacao {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* width: 25%; */
}

.textoOrdenacao {
  font-size: 1.2em;
}

.selecionarOrdenacao {
  font-size: 1em;
  padding: 1em;
  /* width: 50%; */
}

.selecionarOrdenacao option {
}

.containerCards {
  border-radius: 5px;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 2vh;
  overflow-y: scroll;
  padding: 1%;
  width: 90%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
